<div class="container">
  <h2>About Us</h2>
  <hr>
  <br><br>
  <div class="row">
    <div class="col s12 m12 l6">
      <img class="responsive-img z-depth-3" src="/assets/aboutus.jpg">
    </div>
    <div class="col s12 m12 l6">
      <h5> Whether you’re buying a home or seeking to invest, alreadyin will help you to manage the property transaction
        process from begaining to finsh. </h5>
      <br>
      <p>To buy and sell a home can be a lengthy process and there are costs/risks involved in each steps of completing
        this
        process. Below are list of common pain points/ cause of failure of the property transaction process.</p>
      <br>
      <blockquote>
        <ul>
          <li>Unexpected title problems at closing - tittle documents should be ready at start of the
            process not at the end </li>
          <br>
          <li>Buyer financing - mortgage approve not in place before the sales agreed</li>
          <br>
          <li>There isn’t a place that all parties can communicate to avoid unnecessary ambiguity and
            frustration </li>
          <br>
          <li>Extremely manual process leads high agent/solicitor fees</li>
        </ul>
      </blockquote>
      <br>
      <p>AlreadyIn is a web application that aimed to address above pain points by visualising the process and provide
        a place
        of communication for parties to upload documentations and make comments. To achieve this, the application will
        automatically setup a step-by-step progress bar that tracks each of the major milestones and to set out
        outstanding
        items that to complete all of the milestone.</p>
    </div>
  </div>
</div>