   <div class="carousel carousel-slider">
    <a class="carousel-item" href="#one!"><img src="https://picsum.photos/800/400.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="https://placeimg.com/800/401/tech"></a>
    <a class="carousel-item" href="#three!"><img src="https://placeimg.com/800/402/arch"></a>
    <a class="carousel-item" href="#four!"><img src="https://placeimg.com/800/403/people"></a>
  </div>
