
  <div id="index-banner" class="parallax-container valign-wrapper z-depth-3">
    <div class="section no-pad-bot">
      <div class="container banner-text-box">
        <br><br>
        <h1 class="header center white-text text-lighten-2">Property Transaction Made easy</h1>
        <hr>
        <div class="row center">
          <h5 class="header col s12 light">Whether you’re buying a home or seeking to invest, alreadyin will help you to manage the property transaction process from beginning to finish.</h5>
        </div>
        <div class="row center">
          <a href="/login" class="btn-large waves-effect waves-light teal lighten-1">Login to Start</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="/assets/home1.jpg"></div>
  </div>


  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Workflow automation </h5>

            <p class="light">Managing numerous property transactions at the same time and see where everything stands at a glance.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Better communication</h5>

            <p class="light">More transparent, more efficientKnowing if all parties are ready for the transaction, and leave comments if any issues occurred.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Process flow customisation</h5>

            <p class="light">Share info with the right people, make teams and projects private to create a safe space for sensitive work.
.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper z-depth-3">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h3 class="header col s12 light">A modern responsive front-end framework based on Material Design</h3>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/assets/home2.jpg"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Why Us</h4>
          <p class="center light">To buy and sell a home can be a lengthy process and there are costs/risks involved in each steps of completing this process. <strong>AlreadyIn</strong> is a project management tool aimed to address above pain points by visualising the process and provide a place of communication for parties to upload documentations and make comments. </p>
        </div>
      </div>

    </div>
  </div>





