<div class="container">
  <h2>How it Works</h2>
  <hr>
  <div class="small-section text-block">
    <blockquote>
      <p>Welcome to <strong>alreadyin</strong>, your digital property transaction management tool.</p>
      <p></p>
      <p>We're changing the way property is bought and sold, making the process more transparent, efficient and easy for
        our
        users. <strong>Let us show you how it works. </strong></p>
    </blockquote>
  </div>

  <h2>BUYING A HOME STEP-BY-STEP GUIDE</h2>
  <hr>
  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="/assets/Checklist.jpg">
          <span class="card-title card-title-bg">Preparation</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>Find out how much you can afford for mortgage repayments and ensure that you have enough to cover all the
            costs involved in buying a home, mortgage costs, legal fees, insurance and stamp duty, etc. </p>
        </div>
      </div>
    </div>

    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="/assets/mortgage.jpg">
          <span class="card-title card-title-bg">Mortgage</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>Very few people can buy a home without getting a mortgage. A mortgage is a longterm loan secured against
            the
            property you buy. This means if you don’t repay your mortgage you may lose your home.</p>
        </div>
      </div>
    </div>

    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="/assets/house.jpg">
          <span class="card-title card-title-bg">Find your property</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>When you find a home you are interested in, remember to ask the estate agent any questions you have which
            might help you make your decision. </p>
        </div>
      </div>
    </div>

    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="/assets/agreed.jpg">
          <span class="card-title card-title-bg">Sales agreed</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>Once your offer is accepted the property is considered to be sale agreed and you will need to pay a
            refundable booking deposit to the estate agent.</p>
        </div>
      </div>
    </div>

    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="/assets/valuation.jpg">
          <span class="card-title card-title-bg">Valuation & survey </span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>You should strongly consider hiring your own surveyor, engineer or architect to carry out a detailed
            structural survey, especially if you are buying an older property. Your lender will want a professional
            valuation completed before they formally agree to lend you the money to buy the property.</p>
        </div>
      </div>
    </div>

    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="/assets/contract.jpg">
          <span class="card-title card-title-bg">Exchage contract</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>Your solicitor will explain and complete various documents with you. If you are happy with all the details,
            you formally accept the letter of offer from your lender, through your solicitor. Your solicitor will also
            check that the contracts are in order and if they are happy with the contracts, you will sign two copies.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>