<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">INFORMATION & SUPPORT</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/contact">Careers</a></li>
          <li><a class="grey-text text-lighten-3" href="/privacypolicy">Data Protection and Privacy</a></li>
          <li><a class="grey-text text-lighten-3" href="/cookiepolicy">Cookie Policy</a></li>
        </ul>
        <ul>
        <li class="grey-text text-lighten-3">AlreadyIn Ltd., 123A IFSC, Dublin 1, Ireland</li>
        <li class="grey-text text-lighten-3">+353 1 234 5678</li>
        <li class="grey-text text-lighten-3">info@alreadyIn.com</li>
        </ul>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Social Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!"><i class="fab fa-2x fa-facebook-square"></i></a></li>
          <li><a class="grey-text text-lighten-3" href="#!"><i class="fab fa-2x fa-twitter-square"></i></a></li>
          <li><a class="grey-text text-lighten-3" href="#!"><i class="fab fa-2x fa-linkedin"></i></a></li>
          <li><a class="grey-text text-lighten-3" href="#!"><i class="fab fa-2x fa-youtube-square"></i></a></li>
          <li><a class="grey-text text-lighten-3" href="#!"><i class="fab fa-2x fa-instagram-square"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2020 Copyright AlreadyIn
    </div>
  </div>
</footer>